<nav class="navbar navbar-inverse navbar-fixed-top">
<h3 style="text-align:center;color: white">Holidays Listing</h3>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="padding-left: 15%">
  <br>
<table border=1 class="table-striped table-hover" style="width:80%;text-align:center">
  <tr style="text-align:center">
    <th>Holiday Date</th>
    <th>Reason</th>

  </tr>
 
  <% @holidays.each do |holiday| %>
    <tr>
    <td><%= holiday.date %> </td>
      <td><%= holiday.reason %> </td>

 

    </tr>
  <% end %>
</table>
</div>
