.jumbotron
  .row
    #content.col-xs-9
      %p
        Holiday Created successfully
        %br
          %br
            %strong Holiday Date:
            = @holiday.date
      %p
        %strong Reason:
        = @holiday.reason