  <div  class="jumbotron">
      <div class="row">

       <div id="content" class="col-xs-9">
        
<p>
Holiday Created successfully
<br>
<br>
  <strong>Holiday Date:</strong>
  <%= @holiday.date %>
</p>
 
<p>
  <strong>Reason:</strong>
  <%= @holiday.reason %>
</p>


        </div>
      </div>
    </div>

