<h5>
	Hi there welcome to conference room app.
</h5>
<p>
Click here to go to rooms section where you can create a new room or check out exicting ones.
  <%= link_to('Rooms', rooms_path, :class=>"btn btn-primary") %></p>

<p>

Click here to create a new holiday

  <%= link_to('Holiday', new_holiday_path, :class=>"btn btn-primary") %>

</p>