  <div id="main-container" class="container">
      <div class="row">

       <div id="content" class="col-xs-9">
<p> Room Created successfully</p>        
<p>
  <strong>Room Name:</strong>
  <%= @room.name %>
</p>
 
<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>
<%= link_to 'Back', rooms_path %>

        </div>
      </div>
    </div>

